<div id="messages"></div>
<div class="scheduler-container">
	<form id="slots-form" data-request="onSelectVenue" data-request-update="'{{ __SELF__ }}::slots': '#result'">
		<div class="row">
			<div class="col-md-12">
				<h5 for="q3">What's the day?</h5>
			</div>
			{% for day in scheduler.days %}
				<div class="col-md-3 items-container">
					<span class="label">	
						<input id="day-{{ day.day }}" name="day" type="radio" value="{{ day.id }}"/>
						<label for="day-{{ day.day }}">{{ day.date }}</label>
					</span>
				</div>
			{% endfor %}
		</div>
		<div class="row">
			<div class="col-md-12">
				<h5 for="q3">What's the Venue?</h5>
			</div>
			{% for venue in scheduler.venues %}
				<div class="col-md-3 items-container">
					<span class="label">	
						<input id="venue-{{ venue.id }}" name="venue" type="radio" value="{{ venue.id }}"/>
						<label for="venue-{{ venue.id }}">{{ venue.name }}</label>
					</span>
				</div>
			{% endfor %}
		</div>
	</form>
	<div id="result" class="row">

		
	</div>	
</div><!-- /scheduler-container -->
