<form id="choose-form" data-request="onSubmit">
	<div class="col-md-12">
		<h5 for="q3">Select slots</h5>
	</div>
	{% for slot in result.slots %}
		<div class="col-md-3 items-container">
			<span class="label">	
				<input id="slot-{{ slot.day }}" name="slot[]" type="checkbox" value="{{ slot.id }}"/>
				<label for="slot-{{ slot.day }}">{{ slot.name }}</label>
			</span>
		</div>
	{% endfor %}
	<div class="col-md-12">
		<input name="venue" type="hidden" value="{{ result.venue }}" />
	</div>
	<div class="col-md-12">
		<input name="day" type="hidden" value="{{ result.day }}" />
	</div>
	<div class="col-md-12">
		<input class="submit-button" type="submit"></input>
	</div>
</form>