<div class="confirm-container bg-success hide">
  <p>Successfully added you verification file!</p>
</div>
<form role="form"
  data-request="{{ __SELF__ }}::onFileUpload"
  data-request-success="$el.hide();$('.confirm-container').removeClass('hide');"
  enctype="multipart/form-data">
	<div class="form-group">
		{{ form_sessionKey() }}
	</div>
	<div class="form-group">
	    <label for="inputCondition"> What is your condition? </label>
	    <select id="inputCondition" class="form-control" name="condition">
		  <option value="Future Mom">Futura Mamã / Future Mom</option>
		  <option value="Limited Mobility"> Mobilidade Reduzida / Limited Mobility</option>
		</select>
  	</div>
  	<div class="form-group">
	    <label for="inputTransportation">What means of transportation will you use to get to the show?</label>
	    <select id="inputTransportation" class="form-control" name="transportation">
		  <option value="train">Comboio / Train</option>
		  <option value="taxi">Táxi / Taxi </option>
		  <option value="bus">Autocarro / Bus</option>
		  <option value="car">Carro próprio / My car</option>
		  <option value="walking">A pé / Walking</option>
		</select>
  	</div>
  	 <div class="form-group">
	    <label>Please upload your medical document proof of your condition (pdf our jpg files).</label>
	    <!-- File uploader -->
	   {% component 'fileUploader' %}
  	</div>
  	<div class="form-group">
  		<!-- image path -->
    	<input type="hidden" name="img_path" value="" />
    </div>
  	<div class="form-group">
  		<input type="submit" class="btn"> 
  		<!-- <button id="submit" class="btn" >Submit</button>-->
  	</div>
{{ form_close() }}
